In [ ]:
from IPython.display import Markdown as md
import os
import pandas as pd

# Some Randomness, for Fun

In [ ]:
import random
random.seed(0) # pick your seed

# Data

In [ ]:
!pip install eurostatapiclient

Collecting eurostatapiclient
  Downloading eurostatapiclient-0.2.6-py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from eurostatapiclient) (2.23.0)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from eurostatapiclient) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->eurostatapiclient) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->eurostatapiclient) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.21.0->eurostatapiclient) (2021.5.30)
Installing collected packages: eurostatapiclient
Successfully installed eurostatapiclient-0.2.6

In [ ]:
from eurostatapiclient import EurostatAPIClient

#Set versions and formats, so far only the ones used here are availeable and call client
VERSION = 'v2.1'
FORMAT = 'json'
LANGUAGE = 'en'
client = EurostatAPIClient(VERSION, FORMAT, LANGUAGE)

In [ ]:
%%html
<iframe src="https://ec.europa.eu/eurostat/databrowser/view/pat_ep_nipc/default/table?lang=en" width="1000" height="800"></iframe>

In [ ]:
countries_names = {'AT':'Austria', 'BE':'Belgium', 'BG':'Bulgaria', 'CY': 'Cyprus', 
                   'CZ': 'Czechia', 'DE': 'Germany', 'DK': 'Denmark', 'EE':'Estonia', 
                   'EL': 'Greece', 'ES':'Spain', 'FI':'Finland', 'FR':'France', 
                   'HR':'Croatia', 'HU':'Hungary', 'IE':'Ireland', 'IT':'Italy', 
                   'LT':'Lithuania', 'LU':'Luxembourg', 'LV':'Latvia', 'MT': 'Malta', 
                   'NL':'Netherlands', 'PL':'Poland', 'PT':'Portugal', 'RO':'Romania', 
                   'SE':'Sweden', 'SI':'Slovenia', 'SK':'Slovakia', 'UK':'United Kingdom'}

patent_sections = {'A': 'Human necessities',
                   'B': 'Performing operations; transporting',
                   'C': 'Chemistry; metallurgy',
                   'D': 'Textiles; paper',
                   'E': 'Fixed constructions',
                   'F': 'Mechanical engineering; lighting; heating; weapons; blasting',
                   'G': 'Physics',
                   'H': 'Electricity'}

In [ ]:
par_df1 = {
    'ipc': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'unit': ['NR', 'P_MHAB'],
    'geo': list(countries_names.keys()),
}

df1 = client.get_dataset('pat_ep_nipc', params=par_df1).to_dataframe()

df1.rename(columns={'geo': 'country', 'time': 'year'}, inplace=True)
df1['year'] = df1['year'].astype('int')
df1['country'] = df1['country'].map(countries_names)
df1['ipc'] = df1['ipc'].map(patent_sections)

In [ ]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    from google.colab import drive
    drive.mount('/content/gdrive', force_remount=True)
    dir = os.path.join('gdrive', 'MyDrive', 'Eurostat', '01 - Intro to Python for Data Science')
else:
    dir = '.'
    
data_dir = os.path.join(dir, 'data')
os.makedirs(data_dir, exist_ok=True)
data_dir

Mounted at /content/gdrive

'gdrive/MyDrive/Eurostat/01 - Intro to Python for Data Science/data'

In [ ]:
filename = os.path.join(data_dir, 'pat_ep_nipc.csv')
df1.to_csv(filename, index=False)

In [ ]:
print(len(df1))
print(df1.dtypes)
df1.sample(5)

16576
values     float64
ipc         object
unit        object
country     object
year         int64
dtype: object

        values  ...  year
2340       NaN  ...  1986
5147   480.280  ...  1981
8322   143.780  ...  2011
3169    21.519  ...  2001
10494      NaN  ...  2000

[5 rows x 5 columns]

In [ ]:
df2 = df1.pivot(index='year', columns=['ipc', 'unit', 'country'], values='values')

In [ ]:
df2

ipc     Human necessities                   ... Electricity
unit                   NR                   ...      P_MHAB
country           Austria Belgium Bulgaria  ...    Slovenia Slovakia United Kingdom
year                                        ...
1977                 2.27    2.60      NaN  ...         NaN      NaN          0.517
1978                19.96   22.32      NaN  ...         NaN      NaN          2.093
1979                34.83   27.12      NaN  ...         NaN      NaN          3.086
1980                35.95   32.42      NaN  ...         NaN      NaN          3.280
1981                53.48   37.78     1.00  ...         NaN      NaN          4.543
1982                63.92   56.49     1.60  ...         NaN      NaN          5.403
1983                64.41   70.59     1.47  ...         NaN      NaN          6.699
1984                82.90   62.54     4.84  ...         NaN      NaN          6.814
1985               102.59   65.69     0.65  ...         NaN      NaN          7.531
1986                88.13   68.12     0.98  ...         NaN      NaN          7.647
1987               123.70   75.40     8.08  ...         NaN      NaN          7.766
1988               119.50   88.65     5.00  ...         NaN      NaN          8.591
1989               109.78   78.20     1.00  ...         NaN      NaN          8.755
1990               103.98   75.61     1.53  ...       1.002      NaN          7.838
1991               113.64   75.34      NaN  ...       1.000      NaN          6.924
1992                90.38   95.31     1.00  ...       0.875      NaN          7.753
1993               110.70  107.51     1.00  ...       2.527      NaN          8.073
1994               114.61   94.51     1.00  ...       0.648      NaN          9.306
1995               102.74  123.44     4.28  ...       0.342      NaN         10.963
1996               125.04  122.99     1.23  ...       2.346      NaN         11.098
1997               145.43  182.50     1.44  ...       1.631      NaN         11.460
1998               139.62  183.97     1.67  ...       1.401    0.004         14.512
1999               181.08  220.46     1.50  ...       2.866    0.185         17.158
2000               151.43  202.62     3.90  ...       3.154    0.154         18.363
2001               191.19  181.30     5.91  ...       3.658    0.556         17.914
2002               209.05  224.56     5.05  ...       7.307    0.255         16.379
2003               228.97  243.61     4.00  ...       5.629    0.832         15.480
2004               195.25  255.62     2.85  ...       6.592    0.585         15.791
2005               212.82  300.19     3.73  ...       3.089    1.971         16.203
2006               293.82  286.83     4.38  ...       2.416    1.802         17.103
2007               273.42  244.10     1.38  ...       4.641    2.198         16.368
2008               260.91  254.48     2.61  ...       5.039    0.632         15.488
2009               269.86  250.15     2.81  ...       5.083    0.817         16.191
2010               288.72  257.85     6.50  ...       5.232    1.044         16.149
2011               276.27  254.24     3.97  ...       8.341    1.684         16.908
2012               280.40  233.86     5.99  ...       9.098    1.273         16.528
2013               243.56  238.63     8.32  ...       5.260    0.991         15.531

[37 rows x 448 columns]

# Functions

## Definition & Invokation

In [ ]:
def greet():
  print('Welcome back, did you have a nice break?')

In [ ]:
greet()

Welcome back, did you have a nice break?

## Positional Arguments

In [ ]:
def personal_greet(name):
  print(f'Welcome back {name}, did you have a nice break?')

In [ ]:
personal_greet('Mary')
personal_greet('John')

Welcome back Mary, did you have a nice break?
Welcome back John, did you have a nice break?

## Return Values

In [ ]:
def get_personal_greet(name):
  return f'Welcome back {name}, did you have a nice break?'

In [ ]:
whatsapp_message = get_personal_greet('Mary')
whatsapp_message

'Welcome back Mary, did you have a nice break?'

In [ ]:
whatsapp_messages = [get_personal_greet(name) for name in ['Mary', 'John']]
whatsapp_messages

['Welcome back Mary, did you have a nice break?',
 'Welcome back John, did you have a nice break?']

In [ ]:
from datetime import datetime

def get_personal_greet_and_time(name):
  message = f'Welcome back {name}, did you have a nice break?'
  timestamp = datetime.now().strftime("%A, %B %d %Y - %H:%M:%S")
  return message, timestamp

In [ ]:
whatsapp_messages = [get_personal_greet_and_time(name) for name in ['Mary', 'John']]
whatsapp_messages

[('Welcome back Mary, did you have a nice break?',
  'Monday, September 13 2021 - 17:27:38'),
 ('Welcome back John, did you have a nice break?',
  'Monday, September 13 2021 - 17:27:38')]

## Recursion

Fibonacci numbers: 1, 1, 2, 3, 5, 8, 13, 21 ...

In [ ]:
def fibonacci_number(n):
  return fibonacci_number(n-1) + fibonacci_number(n-2) if n>2 else 1

In [ ]:
fibonacci_number(8)

21

### ❓ Exercise

In [ ]:
ipc = random.choice(list(patent_sections.values()))
md(f"##❓ Write a function that returns the number of patents in a given section for a given country in a given year.")

##❓ Write a function that returns the number of patents in a given section for a given country in a given year.

In [ ]:
df2.sample(5)

ipc     Human necessities                   ... Electricity
unit                   NR                   ...      P_MHAB
country           Austria Belgium Bulgaria  ...    Slovenia Slovakia United Kingdom
year                                        ...
1990               103.98   75.61     1.53  ...       1.002      NaN          7.838
2004               195.25  255.62     2.85  ...       6.592    0.585         15.791
1982                63.92   56.49     1.60  ...         NaN      NaN          5.403
1996               125.04  122.99     1.23  ...       2.346      NaN         11.098
1980                35.95   32.42      NaN  ...         NaN      NaN          3.280

[5 rows x 448 columns]

In [ ]:
def number_of_patents_per_section_country_year(section, country, year):
  pass

In [ ]:
number_of_patents_per_section_country_year('Human necessities', 'Germany', 2000)

In [ ]:
ipc = random.choice(list(patent_sections.values()))
md(f"##❓ Write a function that returns the number of patents in across all sections for a given country in a given year.")

##❓ Write a function that returns the number of patents in across all sections for a given country in a given year.

Hint: Make use of your previous function number_of_patents_per_section_country_year()_

In [ ]:
def number_of_patents_per_country_year(country, year):
  pass

In [ ]:
number_of_patents_per_country_year('Italy', 1999)

## Reassignment of Variables in Functions

In [ ]:
def cubic_root(val):
  val **= (1/3)
  print('Value inside function: ', val)

In [ ]:
val = 27
print('Value before function: ', val)

cubic_root(val)

print('Value after function: ', val)

Value before function:  27
Value inside function:  3.0
Value after function:  27

In [ ]:
def cubic_root_global_effect():
  global val
  val **= (1/3)
  print('Value inside function: ', val)

In [ ]:
val = 27
print('Value before function: ', val)

cubic_root_global_effect()

print('Value after function: ', val)

Value before function:  27
Value inside function:  3.0
Value after function:  3.0

## Modification of Complex Types in Functions

In [ ]:
patents_physics_NL = dict(df2['Physics', 'NR', 'Netherlands'][df2.index < 2000].items())
patents_physics_NL

{1977: 11.46,
 1978: 27.88,
 1979: 68.58,
 1980: 101.9,
 1981: 121.82,
 1982: 146.02,
 1983: 175.06,
 1984: 191.46,
 1985: 215.72,
 1986: 196.41,
 1987: 227.56,
 1988: 257.48,
 1989: 258.56,
 1990: 237.18,
 1991: 251.54,
 1992: 247.36,
 1993: 232.68,
 1994: 240.18,
 1995: 303.21,
 1996: 385.43,
 1997: 429.89,
 1998: 532.18,
 1999: 627.59}

In [ ]:
def add_patents_since_y2k(patents):
  patents.update(dict(df2['Physics', 'NR', 'Netherlands'][df2.index >= 2000].items()))

add_patents_since_y2k(patents_physics_NL)

In [ ]:
patents_physics_NL

{1977: 11.46,
 1978: 27.88,
 1979: 68.58,
 1980: 101.9,
 1981: 121.82,
 1982: 146.02,
 1983: 175.06,
 1984: 191.46,
 1985: 215.72,
 1986: 196.41,
 1987: 227.56,
 1988: 257.48,
 1989: 258.56,
 1990: 237.18,
 1991: 251.54,
 1992: 247.36,
 1993: 232.68,
 1994: 240.18,
 1995: 303.21,
 1996: 385.43,
 1997: 429.89,
 1998: 532.18,
 1999: 627.59,
 2000: 775.48,
 2001: 1082.78,
 2002: 984.91,
 2003: 1098.98,
 2004: 997.94,
 2005: 855.95,
 2006: 836.64,
 2007: 699.44,
 2008: 727.58,
 2009: 667.42,
 2010: 566.42,
 2011: 691.03,
 2012: 638.58,
 2013: 433.71}

## Keyword Arguments

In [ ]:
def number_of_patents_per_section_country_year(section, country, year):
  return df2[section]['NR'][country][year]

In [ ]:
number_of_patents_per_section_country_year('Human necessities', 'Germany', 2000)

2690.6

In [ ]:
number_of_patents_per_section_country_year(
    country='Germany',
    section='Human necessities',
    year=2000)

2690.6

In [ ]:
def number_of_patents_per_section_country_year(section, country, year, p_mhab=False):
  return df2[section]['P_MHAB'][country][year] if p_mhab else df2[section]['NR'][country][year]

In [ ]:
number_of_patents_per_section_country_year(
    'Human necessities',
    'Germany',
    year=2000)

2690.6

In [ ]:
number_of_patents_per_section_country_year(
    country='Germany',
    section='Human necessities',
    year=2000,
    p_mhab=True)

32.747

## Lambdas

In [ ]:
print(countries_names)

{'AT': 'Austria', 'BE': 'Belgium', 'BG': 'Bulgaria', 'CY': 'Cyprus', 'CZ': 'Czechia', 'DE': 'Germany', 'DK': 'Denmark', 'EE': 'Estonia', 'EL': 'Greece', 'ES': 'Spain', 'FI': 'Finland', 'FR': 'France', 'HR': 'Croatia', 'HU': 'Hungary', 'IE': 'Ireland', 'IT': 'Italy', 'LT': 'Lithuania', 'LU': 'Luxembourg', 'LV': 'Latvia', 'MT': 'Malta', 'NL': 'Netherlands', 'PL': 'Poland', 'PT': 'Portugal', 'RO': 'Romania', 'SE': 'Sweden', 'SI': 'Slovenia', 'SK': 'Slovakia', 'UK': 'United Kingdom'}

In [ ]:
sorted(countries_names.items())

[('AT', 'Austria'),
 ('BE', 'Belgium'),
 ('BG', 'Bulgaria'),
 ('CY', 'Cyprus'),
 ('CZ', 'Czechia'),
 ('DE', 'Germany'),
 ('DK', 'Denmark'),
 ('EE', 'Estonia'),
 ('EL', 'Greece'),
 ('ES', 'Spain'),
 ('FI', 'Finland'),
 ('FR', 'France'),
 ('HR', 'Croatia'),
 ('HU', 'Hungary'),
 ('IE', 'Ireland'),
 ('IT', 'Italy'),
 ('LT', 'Lithuania'),
 ('LU', 'Luxembourg'),
 ('LV', 'Latvia'),
 ('MT', 'Malta'),
 ('NL', 'Netherlands'),
 ('PL', 'Poland'),
 ('PT', 'Portugal'),
 ('RO', 'Romania'),
 ('SE', 'Sweden'),
 ('SI', 'Slovenia'),
 ('SK', 'Slovakia'),
 ('UK', 'United Kingdom')]

In [ ]:
sorted(countries_names.items(),
       key = lambda tup: tup[1])

[('AT', 'Austria'),
 ('BE', 'Belgium'),
 ('BG', 'Bulgaria'),
 ('HR', 'Croatia'),
 ('CY', 'Cyprus'),
 ('CZ', 'Czechia'),
 ('DK', 'Denmark'),
 ('EE', 'Estonia'),
 ('FI', 'Finland'),
 ('FR', 'France'),
 ('DE', 'Germany'),
 ('EL', 'Greece'),
 ('HU', 'Hungary'),
 ('IE', 'Ireland'),
 ('IT', 'Italy'),
 ('LV', 'Latvia'),
 ('LT', 'Lithuania'),
 ('LU', 'Luxembourg'),
 ('MT', 'Malta'),
 ('NL', 'Netherlands'),
 ('PL', 'Poland'),
 ('PT', 'Portugal'),
 ('RO', 'Romania'),
 ('SK', 'Slovakia'),
 ('SI', 'Slovenia'),
 ('ES', 'Spain'),
 ('SE', 'Sweden'),
 ('UK', 'United Kingdom')]

### ❓ Exercise

In [ ]:
md(f"##❓ Write a function that sorts _countries_names_ by the length of the country names.")

##❓ Write a function that sorts _countries_names_ by the length of the country names.

In [ ]:
def sorted_by_length():
  pass

# Advanced: Functional Programming

In [ ]:
df3 = pd.pivot_table(
    df1[df1['unit']=='NR'],
    index='country',
    columns=['year'],
    values='values',
    aggfunc=sum)

df3

year               1977     1978     1979  ...      2011      2012      2013
country                                    ...
Austria           30.66   150.45   265.23  ...   1798.32   1861.96   1629.91
Belgium           56.24   165.34   247.76  ...   1515.51   1506.64   1307.62
Bulgaria           0.00     0.00     0.00  ...     26.37     33.83     28.79
Croatia            0.00     0.00     0.00  ...     16.97     19.39     15.55
Cyprus             0.00     0.00     1.00  ...      5.63      2.51      7.95
Czechia            0.00     0.00     0.00  ...    222.84    231.96    217.07
Denmark           24.34    63.34   110.10  ...   1465.54   1317.18   1091.37
Estonia            0.00     0.00     0.00  ...     27.57     23.68     27.91
Finland            3.50    15.00    37.99  ...   1345.17   1637.88   1232.89
France           304.03  1223.52  2093.04  ...   8909.91   8884.33   7108.46
Germany         1062.94  3268.99  4979.92  ...  22934.97  21914.27  18308.14
Greece             1.00     2.00     4.16  ...     85.26    101.55     84.76
Hungary            2.00     6.00    39.92  ...    221.58    207.80    138.13
Ireland            1.00     6.40    17.50  ...    370.88    313.21    329.12
Italy             22.36   161.66   358.66  ...   4407.56   4324.62   3568.05
Latvia             0.00     0.00     0.00  ...     17.87     27.12     67.17
Lithuania          0.00     0.00     0.00  ...     18.86     32.55     16.29
Luxembourg         4.00    16.99    22.56  ...     69.46     67.41     58.53
Malta              0.00     1.00     0.00  ...      0.33      5.51      4.86
Netherlands      119.58   256.48   520.82  ...   3444.60   3387.47   2565.88
Poland             0.00     7.00    16.33  ...    383.78    483.32    407.08
Portugal           0.33     1.00     1.00  ...    120.03    112.17    118.63
Romania            0.00     0.00     0.00  ...     60.42     71.60     59.45
Slovakia           0.00     0.00     0.00  ...     54.83     44.52     41.55
Slovenia           0.00     0.00     0.00  ...    112.13    126.73    103.36
Spain              2.00    22.33    25.93  ...   1479.29   1516.83   1288.08
Sweden            96.45   267.71   438.13  ...   2821.04   3079.70   2022.66
United Kingdom   354.77  1197.95  1660.62  ...   5429.75   5380.94   4623.87

[28 rows x 37 columns]

In [ ]:
dict(df3[2000])

{'Austria': 1183.21,
 'Belgium': 1312.9099999999999,
 'Bulgaria': 7.42,
 'Croatia': 15.53,
 'Cyprus': 6.2,
 'Czechia': 66.58,
 'Denmark': 983.61,
 'Estonia': 4.58,
 'Finland': 1435.21,
 'France': 7313.08,
 'Germany': 22113.65,
 'Greece': 56.37,
 'Hungary': 121.47000000000001,
 'Ireland': 206.31,
 'Italy': 4006.5200000000004,
 'Latvia': 8.97,
 'Lithuania': 4.7,
 'Luxembourg': 80.46000000000001,
 'Malta': 4.49,
 'Netherlands': 3469.54,
 'Poland': 43.06,
 'Portugal': 41.989999999999995,
 'Romania': 6.0,
 'Slovakia': 11.23,
 'Slovenia': 49.120000000000005,
 'Spain': 803.11,
 'Sweden': 2314.2300000000005,
 'United Kingdom': 6080.99}

In [ ]:
def most_patents(year):

  df3 = pd.pivot_table(
    df1[df1['unit']=='NR'],
    index='country',
    columns=['year'],
    values='values',
    aggfunc=sum)

  number_patents = dict(df3[year])

  most_patents = -1
  country_with_most_patents = ''

  for country, patents in number_patents.items():
    if patents > most_patents:
      most_patents = patents
      country_with_most_patents = country

  return country_with_most_patents

In [ ]:
most_patents(2013)

'Germany'

In [ ]:
def most_patents(year):

  df3 = pd.pivot_table(
    df1[df1['unit']=='NR'],
    index='country',
    columns=['year'],
    values='values',
    aggfunc=sum)

  number_patents = dict(df3[year])

  return sorted(number_patents.items(),
                key = lambda tup: tup[1],
                reverse=True)[0][0]

In [ ]:
most_patents(2000)

'Germany'

In [ ]:
def most_patents(year, n=3):

  df3 = pd.pivot_table(
    df1[df1['unit']=='NR'],
    index='country',
    columns=['year'],
    values='values',
    aggfunc=sum)

  number_patents = dict(df3[year])

  return sorted(number_patents.items(),
                key = lambda tup: tup[1],
                reverse=True)[:n]

In [ ]:
most_patents(2000, 5)

[('Germany', 22113.65),
 ('France', 7313.08),
 ('United Kingdom', 6080.99),
 ('Italy', 4006.5200000000004),
 ('Netherlands', 3469.54)]

In [ ]:
def most_patents_per_habitant(year, n=3):

  df3 = pd.pivot_table(
    df1[df1['unit']=='P_MHAB'],
    index='country',
    columns=['year'],
    values='values',
    aggfunc=sum)

  number_patents = dict(df3[year])

  return sorted(number_patents.items(),
                key = lambda tup: tup[1],
                reverse=True)[:n]

In [ ]:
most_patents_per_habitant(2000, 5)

[('Finland', 277.534),
 ('Germany', 269.14300000000003),
 ('Sweden', 261.158),
 ('Netherlands', 218.705),
 ('Luxembourg', 185.562)]

In [ ]:
def most_habitants(year, n):

  patents = dict(
      pd.pivot_table(df1[df1['unit']=='NR'],
                     index='country',
                     columns=['year'],
                     values='values',
                     aggfunc=sum)[year])

  patents_per_habitant = dict(
      pd.pivot_table(df1[df1['unit']=='P_MHAB'],
                     index='country',
                     columns=['year'],
                     values='values',
                     aggfunc=sum)[year])

  m_habitants = {country: pat/pat_per_hab for (country, pat), pat_per_hab in zip(patents.items(), patents_per_habitant.values())}

  return list(map(lambda tup: f'{tup[0]}, {tup[1]:.1f} million', sorted(m_habitants.items(),
                                                                       key = lambda tup: tup[1],
                                                                       reverse=True)[:n]))

In [ ]:
most_habitants(2000, 5)

['Germany, 82.2 million',
 'France, 60.5 million',
 'United Kingdom, 58.8 million',
 'Italy, 56.9 million',
 'Spain, 40.1 million']

In [ ]:
def top_n(year, n=3, criterion_fct=most_patents_per_habitant):
  return criterion_fct(2000, n)

In [ ]:
top_n(2010)

[('Finland', 277.534), ('Germany', 269.14300000000003), ('Sweden', 261.158)]

In [ ]:
top_n(2010, criterion_fct=most_habitants)

['Germany, 82.2 million',
 'France, 60.5 million',
 'United Kingdom, 58.8 million']

In [ ]:
top_n(2010, criterion_fct=most_patents)

[('Germany', 22113.65), ('France', 7313.08), ('United Kingdom', 6080.99)]